*.pro.user
!/Makefile

tst_*
!tst_*.*

# Standard ignores:
*~
*.a
*.la
*.core
*.moc
*.o
*.obj
*.orig
*.swp
*.rej
*.so
*.so.*
*.exe
*.pbxuser
*.mode1
*.mode1v3
*_pch.h.cpp
*_resource.rc
.#*
*.*#
core
.qmake.cache
.qmake.vars
*.prl
tags
.DS_Store
*.debug
Makefile*
moc_*.cpp
